body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

h1 {
  color: blue;
}

ul {
  padding: 0;
}

li {
  margin: 1rem;
  padding: 1rem;
  border: deeppink 2px solid;
  box-shadow: 0.5px 1px 0.5px 0.5px deeppink;
  list-style-type: none;
  background-color: white;
}

img {
  height: 200px;
  max-height: 20vh;
}

button {
  color: black;
  background-color: white;
}

button:hover {
  color: white;
  background-color: rgb(254, 85, 175);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

input {
  margin: 0.5rem;
}

#message {
  height: 200px;
}
