body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
}

h1 {
  color: blue;
}

ul {
  padding: 0;
  width: 100%;
  
}

li {
  margin: 1rem auto;
  padding: 1rem;
  border: deeppink 2px solid;
  box-shadow: 0.5px 1px 0.5px 0.5px deeppink;
  list-style-type: none;
  background-color: white;
  width: 40%;
}

img {
  height: 200px;
  max-height: 20vh;
  animation: pulse 3s infinite;
}

button {
  color: black;
  background-color: white;
}

button:hover {
  color: white;
  background-color: rgb(254, 85, 175);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

input {
  margin: 0.5rem;
}

input[type="submit"]:hover {
  background-color: rgb(203, 255, 150);
  cursor: pointer;
}

input[type="text"] {
  margin: 0;
  padding: 0;
}

label {
  padding: 10px;
}

textarea, input[name="user-name"] {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid rgb(250, 128, 114);
  border-radius: 5px;
  width: 40%;
}

input[name="user-name"]{
  width: 20%;
  padding: 5px;
}

#message {
  height: 100px;
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.7);
  }
}
